<!-- /templates/collection.at-convention.liquid -->
{% include 'customer-metafields' %}
<div class="collections wrapper">
  <div class="js-cart-alert"></div>
  {% comment %}
  <div class="banner collections__banner">
    <img class="banner__img" src="{{ collection.image | img_url: '1440x' }}">
    <div class="banner__desc">
      <h2 class="banner__header">{{ collection.title }}</h2>
      <p class="banner__para">{{ collection.metafields.c_f.Collection_Banner_Text }}</p>
    </div>
  </div>
  {% endcomment %}
  
  <div class="colls-promo">
    <div class="colls-promo__img-wrap">
      {% if collection.metafields.c_f.Collection_Video == blank %}
      <img class="colls-promo__img" src="{{ collection.metafields.c_f.Collection_Promo_Image }}">
      {% else %}
      {{ collection.metafields.c_f.Collection_Video }}
      {% endif %}
    </div>
    <div class="colls-promo__info-wrap">
      <div class="colls-promo__info">{{ collection.description }}</div>
    </div>
  </div>
  
  <div class="colls-shop">
    <h1 class="colls-shop-text"> Shop {{ collection.title }} </h1>
  </div>
  <div class="colls-grid">
    {% for product in collection.products %}
    <div class="colls-grid__product">
      <a href="{{ product.url }}">
        <div class="tag-img-container">
          <img class="colls-grid__product-img" src="{{ product | img_url: '680x' | scale: 2 }}" />
          {% for tag in product.tags %}
          {% if tag contains 'new-product' %}
          <div class="new-product-badge">NEW</div>
          {% endif %}   
          {% if tag contains 'pickup' %}
          <div class="new-product-badge" style="background: #f44336;">FOR PICK UP</div>
          {% endif %}
          {% endfor %}
          
          {% comment %}
            Convention 2018 Add to cart button
          {% endcomment %}
          
          {% include 'convention-add-cart' %}
          
        </div>
        <h3 class="colls-grid_product-title">{{ product.title }}</h3>
        {% if customer_discount == 1 %}
        <h3 class="colls-grid__product-price">Retail Price: <span>{{ product.price | money }}</span></h3>
        {% else %}
        <h3 class="colls-grid__plc-price">Your Price: <span class="member-price">{{product.price | times: customer_discount | ceil | money }}</span></h3>
        {% endif %}       
      </a> 
    </div>
    {% endfor %}
  </div>
</div>

{% comment %}
Separate scripts to capture if someone is new or existing. Existing customers already logged into iShop can be tagged immediately. Otherwise we will have to set local storage item
and tag them once they get to account page after logging in. 
{% endcomment %}

{% if collection.title == 'RISE 2018' %}
	 <script type="text/javascript">
       $(document).ready(function() {
        var vars = [], hash;
        var q = document.URL.split('?')[1];
        if(q != undefined){
          q = q.split('&');
          for(var i = 0; i < q.length; i++){
            hash = q[i].split('=');
            var elem = [hash[0], hash[1]];
            vars.push(elem);
          }
        }
        $.each(vars, function(index, value) {
          var $elem = $("span#"+value[1]);
          if(value[0] == "convention"){ 
           console.log(value[1]);
           localStorage.setItem('attending', value[1]);
          // document.getElementById('web-alias').value=value[1];
          }
        });
   	   });
	</script>
{% endif %}

{% if customer and collection.title == 'RISE 2018' %}
 <script type="text/javascript">
    $(document).ready(function isAttending(){
    var  answer = localStorage.getItem('attending');
      if (answer !== null && answer !== "")  {
        console.log('attending');
        var value = '{{ customer.id }}';
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "https://shopify-addtags.azurewebsites.net/api/HttpTrigger_AddConventionTag?code=3ibpOblDfGH01UvCfaa7zn1demB7a918jE6Wdmj9N6Okdy5hOwQN0A==",
          "method": "POST",
          "headers": {
            "content-type": "application/json"
          },
          "processData": false,
          "data": "{\"value\" : \"" + value + "\"}"
        }

        $.ajax(settings).done(function (response) {
          $(console.log(response));
        });
      }});
</script>

{% endif %}


 <script>
      (function() {
        Product.init();
      }());
    </script>