<div class="page-wrapper ansillary-page">
  <h1>{{section.settings.heading}}</h1>
  <div class="events-container">
  {% for block in section.blocks %}
    <div class="event" style="">
      <div class="image-wrapper">
        <img class="cell" src="{{block.settings.the_image | img_url: 'medium'}}" />
      </div>
      <div class="events-content cell">
        <h2>{{block.settings.the_title}}</h2>
        <p>{{block.settings.the_event}}</p>
        {% if block.settings.the_flyer_link != '' %}
        <a class="text-link" href="{{block.settings.the_flyer_link}}">{{block.settings.the_flyer_text}}</a>
        {% endif %}
        {% if block.settings.the_location != '' %}
        <p><strong>Location:</strong> {{block.settings.the_location}}</p>
        {% endif %}
        {% if block.settings.the_date != '' %}
        <p><strong>Date:</strong> {{block.settings.the_date}}</p>
        {% endif %}
        {% if block.settings.the_rsvp != '' %}
        <p>RSVP Online at <a class="no-block text-link" href="{{block.settings.the_rsvp}}">{{block.settings.the_rsvp}}</a></p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% schema %}

{
  "name":"Events settings",
  "settings":[
    {
      "type":"text",
      "label":"Section Heading",
      "id":"heading"
    }
  ],
  "blocks":[
    {
       "type":"image",
       "name":"Image",
       "settings":[
         {
            "id":"the_image",
            "type":"image_picker",
            "label":"Image"
         },
         {
            "id": "the_title",
            "type": "text",
            "label": "Event title"
         },
         {
            "id":"the_event",
            "type":"textarea",
            "label":"Event Info"
         },
         {
            "id":"the_flyer_link",
            "type":"text",
            "label":"Enter link URL"
         },
         {
            "id": "the_flyer_text",
            "type": "text",
            "label": "Enter link text"
         },
         {
            "id": "the_location",
            "type": "text",
            "label": "Location"
         },
         {
            "id": "the_date",
            "type": "text",
            "label": "Date"
         },
         {
            "id": "the_rsvp",
            "type": "text",
            "label": "RSVP Link"
         }
       ]
    }
  ]
}

{% endschema %}

