    <div class="mix-up-wrapper-mobile">
      <div class="filter">
        <h3 class="mixup-title">Filter <img class="nav-arrow" src="{{'Down.svg' | asset_url}}" /></h3>
        <form class="filter-dropdown mixup-form">
          <div class="filter-reset">
            <button class="filter-btn all-btn btn btn--primary" type="button" data-filter="all">Reset</button>
          </div>
          <fieldset data-filter-group>
            <div class="flex-container">
              <div class="mobile-filter-wrapper">
                <label class="filter-title">Collection</label><br />
                {% for collection in collections %}
                {% unless collection.handle == '{{ collection.handle }}' or collection.handle == 'featured-products' or collection.handle == 'frontpage' or collection.handle contains 'test' or collection.handle contains 'tax' or collection.handle contains 'quick' %}
                <div>
                  <input class="filter-btn" type="checkbox" value=".{{collection.handle}}">
                  <label>{{collection.title}}</label><br />
                </div>
                {% endunless %}
                {% endfor %}
                <br />
              </div>
              <div class="mobile-filter-wrapper">
                <label class="filter-title">Diet</label><br />
                <div>
                  <input class="filter-btn" type="checkbox" value=".vegan" />
                  <label>Vegan</label><br />
                </div>
                <div>
                  <input class="filter-btn" type="checkbox" value=".kosher" />
                  <label>Kosher</label><br />
                </div>
                <div>
                  <input class="filter-btn" type="checkbox" value=".usda" />
                  <label>Organic</label><br />
                </div>
                <div>
                  <input class="filter-btn" type="checkbox" value=".glutenfree" />
                  <label>Gluten Free</label><br />
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="sort">
        <h3 class="mixup-title">Sort <img class="nav-arrow" src="{{'Down.svg' | asset_url}}" /></h3>
        <form class="sort-dropdown mixup-form">
          <div class="flex-container">
            <fieldset class="mobile-filter-wrapper sort-wrapper">
              <label class="filter-title">Price</label><br />

              <input class="filter-btn" type="radio" data-sort="price:asc" />
              <label>$-$$$</label><br />
              <input class="filter-btn" type="radio" data-sort="price:desc"/>
              <label>$$$-$</label><br />
            </fieldset>
            <fieldset class="mobile-filter-wrapper sort-wrapper">
              <label class="filter-title">Alphabetical</label><br />
              <input class="filter-btn" type="radio" data-sort="name:asc">
              <label>A-Z</label><br />
              <input class="filter-btn" type="radio" data-sort="name:desc">
              <label>Z-A</label><br />
            </fieldset>
          </div>
        </form>
      </div>
    </div>
